
<div class="col m9 small-top-margin">
  <div class="card">

    <h3 class="center">Platform Admin Dashboard</h3>
    <div class="row">
      <div class="small-top-margin center"><center>
        <%= button_to "View Stores", platform_admin_stores_path, method: :get, class: 'btn black dash-btn-big' %>
      </center></div>
    </div>
    <div class="row">
      <center><%= button_to "Create New Category", new_platform_admin_category_path, method: :get, class: 'btn black dash-btn-big' %></center>
    </div>
  </div>
</div>
