
<div class="col m9 small-top-margin">
  <div class="card">

<h3 class="center">Platform Admin Dashboard</h3>
<div class="row">
  <div class="small-top-margin center">
    <div class="col m3">
      <%#= button_to "Add New Store", new_platform_admin_store_path, method: :get, class: 'btn blue dash-btn-big' %>
    </div>
    <div class="col m3 offset-col m2">
      <%= button_to "View Stores", platform_admin_stores_path, method: :get, class: 'btn blue dash-btn-big' %>
    </div>
    <div class="col m3">
      <%= button_to "Create New Category", new_platform_admin_category_path, method: :get, class: 'btn blue dash-btn-big' %>
    </div>
    <!-- <div class="col m3">
      <%#= button_to "View Pending Stores", platform_admin_stores_path, method: :get, class: 'btn blue dash-btn-big' %>
    </div> -->

  </div>
</div>
