<div class="col m6 offset-m1">
  <h3 class="top-margin">Please Activate Your Account</h3>
    <%= button_to "Activate", user_path(@user, user: {active: true}), method: :patch, class: 'btn blue' %>
</div>
