<h3>Please Activate Your Account</h3>
<p>
  <%= form_for(@user, url: user_path(user, user: {active: true})) do |f| %>
    <%= f.label :password, "Create New Password" %>
    <%= f.password_field :password %>
    <%= f.submit "Activate", method: :patch %>
  <% end %>
</p>
