<div class="row">
  <div class="items">
    <div id="heading" class="">
      <h1 class="white-text">Stores</h1>
    </div>
    <%= render partial: 'partials/store', collection: @stores %>
  </div>
</div>
