<div class="row">
  <div class="items">
    <div id="heading" class="">
      <h1><%= @store.name %></h1>
    </div>
    <%= render partial: 'partials/item', collection: @store.items.active %>
  </div>
</div>
