<div class="row">
  <div class="items">
    <div id="heading" class="">
      <% if @store.status != "Active"  %>
      <div class="card">
        <h1>This page does not exist.</h1>
      </div>
      <% else %>
          <h1 class="white-text"><%= @store.name %></h1>
        </div>
        <%= render partial: 'partials/item', collection: @store.items.active %>
      <% end %>
  </div>
</div>
