<div class="col m4 item" id="store_<%= store.id %>">
  <h1 class="height"><%= link_to(store.name, store_path(store)) %></h1>
  <!-- <%#= link_to(image_tag(store.image_url), store_path(store), id: "image_#{store.id}") %> -->
  <!-- <p class="height"><%#= store.description %></p> -->

</div>
