<div class="col m4 item" id="store_<%= store.id %>">
  <div class="card">
    <div class="card-image">
      <center><img src="http://joshmormann.com/wp-content/uploads/2013/06/Screen-Shot-2013-06-27-at-10.25.47-AM.png"></center>
    </div>
    <h3 class="height"><%= link_to(store.name, store_path(store)) %></h3>
  </div>
  <!-- <%#= link_to(image_tag(store.image_url), store_path(store), id: "image_#{store.id}") %> -->
  <!-- <p class="height"><%#= store.description %></p> -->

</div>
