<div class="col m9 top-margin">
  <h4>Rental History</h4>
  <table class="bordered highlight">
    <thead>
      <tr>
        <th>Rental Id</th>
        <th>Placed On</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @rentals.each do |rental| %>
        <tr>
          <td><%= rental.id %> </td>
          <td><%= rental.created_at.strftime("%B %d, %Y") %></td>
          <td>$<%= rental.total_price %></td>
        </tr>
        <% end %>
    </tbody>
  </table>

</div>
