<div id="heading" class="">
  <h1>Items</h1>
</div>

<% @items.each do |item|  %>
  <div id="item_<%= item.id %>">
    <%= item.name %>
    <%= item.description %>
    <%= item.price %>
  </div>
<% end %>
