/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700|Lobster|Quicksand:400,700);


// font-family: 'Titillium Web', sans-serif;

// font-family: 'Lobster', cursive;

// font-family: 'Quicksand', sans-serif;

body {
  font-family: "Titillium Web", sans-serif;
}

h1 {
  font-family: "Lobster";
}

strong {
  color:  #c62828;
  font-weight: 700;
}

// .nav-wrapper {
//   opacity: 0.2;
// }

nav {
  background-color: rgb(255, 255, 255);
}

.flash_notice {
  text-align: center;
  color: green;
}

.flash_error {
  text-align: center;
  color: red;
}

.item {
  margin-bottom: 25px;
  min-height: 425px
}

.item a {
  color: #666;
}

.items {
  text-align: center;
}

.items img {
  max-width: 150px;
  max-height: 150px;
}

.item_show {
  max-width: 90%;
  max-height: 90%;
}

nav ul li a {
  color: black;
}

.item_cart {
  max-height: 75px;
  max-width: 75px;
}

tr input[type=text] {
  width: 50px;
  text-align: center;
}

.btn-small {
  line-height: 25px;
  height: 25px;
  padding: 0 .5rem .5rem;
  font-size: 8px;
  width: 75px;
  margin-bottom: 3px;
}

.btn-margin {
  margin-right: 50px;
}

.dash-btn {
  width: 50%;
  margin: 15px 0 ;
}

.bordered-div {
  border: 1px solid #ccc;
}

.sidebar {
  margin-top: 135px;
  height: 100%;
}

.container {
  max-width: 1440px;
}

.brand-logo {
  color: black;
  font-family: "Lobster";
}

.top-margin {
  margin-top: 125px;
}

.small-top-margin {
  margin-top: 50px;
}

.clickable {
  cursor: pointer;
}

.item_no {
  color: red;
  font-size: 13px;
}

.material-icons {
  color: black;
}

.log-link {
  padding-right: 10px;
  padding-left: 10px;
}

.bottom-border {
  border-bottom: 1px solid #ccc;
}

.cancelled {
  background-color: #ffebee;
}

.paid {
  background-color: #e1f5fe;
}

.completed {
  background-color: #e8f5e9;
}

.ordered {
  background-color: #fff8e1;
}

.collection {
  border: none;
}
