/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700|Lobster|Quicksand:400,700);


// font-family: 'Titillium Web', sans-serif;

// font-family: 'Lobster', cursive;

// font-family: 'Quicksand', sans-serif;

body {
  font-family: "Titillium Web", sans-serif;
}

h1 {
  font-family: "Lobster";
}

strong {
  color:  #c62828;
  font-weight: 700;
}

// .nav-wrapper {
//   opacity: 0.2;
// }

nav {
  background-color: rgb(255, 255, 255);
}

.flash_notice {
  text-align: center;
  color: green;
}

.flash_error {
  text-align: center;
  color: red;
}

.item {
  margin-bottom: 25px;
}

.item a {
  color: #666;
}

.items {
  text-align: center;
}

.items img {
  max-width: 150px;
  max-height: 150px;
}

.item_show {
  max-width: 90%;
  max-height: 90%;  
}

.logo img {
  max-width: 30%;
  max-height: 30%;
}

nav ul li a {
  color: black;
}

.item_cart {
  max-height: 75px;
  max-width: 75px;
}

.cart_total {
  float: right;
}
