  <div class="row">
    <div class="items">
      <div id="heading" class="">
        <h1 class="white-text"><%= @category.name %></h1>
      </div>
      <div class="row">
      <%= render partial: 'partials/item', collection: @category.items.active %>
    </div>
  </div>
</div>
